<div>
	<div class="mouse-coords" style="position: fixed; right: 0px; padding: 10px; background: salmon;" ng-click="$event.stopPropagation();">
		mouse pos: {{mouseCoords[0]}}, {{mouseCoords[1]}}
		<br />
		<div style="padding: 5px; border: 1px solid black; margin: 5px;" ng-init="distance = 0;">
			closest node {{closestnode.point}}
			<br>
			index: {{closestnode.point.index}}
			<hr>
			<ul>
				<li ng-repeat="(i, point) in customPath">
					{{point.point}}
					<span class="visibility" ng-show="!customPath[i - 1]">N/A</span>
					<span class="visibility" ng-show="customPath[i - 1]">{{customPath[i - 1].point.visibility[point.point.index] ? 'visible' : 'not visible'}}</span>
					<button ng-click="customPath.splice(i, 1);">remove</button>
				</li>
			</ul>
			<hr />
			DISTANCE: {{distance}}

			<button ng-click="customPath = [];">reset</button>
		</div>
		hero:
		current node: {{$parent.game.agents.hero.walkable.mapClosestNode.index}}<br>
		target: {{$parent.game.agents.hero.walkable.model.data.target.x}}, {{$parent.game.agents.hero.walkable.model.data.target.y}}
	</div>

	<svg xmlns="http://www.w3.org/2000/svg" version="1.1" ng-attr-width="{{map.data.width}}" ng-attr-height="{{map.data.height}}">
		<!-- <polygon ng-repeat="terrain in Rts.map.data.terrain.sand" polygon-points style="fill: gold;" /> -->
		<polygon ng-repeat="(index, triangle) in map.data.triangles" id="triangle-{{index}}" polygon-points style="fill: #5CACDB;" />

		<circle ng-repeat="custompath in customPath" ng-attr-cx="{{custompath.point.x}}" ng-attr-cy="{{custompath.point.y}}" r="8" fill="crimson" />

		<circle ng-repeat="path in [$parent.nodes.start, $parent.nodes.end] track by $index" ng-if="path.x && path.y" ng-attr-cx="{{path.x}}" ng-attr-cy="{{path.y}}" r="6" fill="yellow" />

		<!-- <circle ng-attr-cx="{{$parent.game.agents.hero.walkable.model.data.target.x}}" ng-attr-cy="{{$parent.game.agents.hero.walkable.model.data.target.y}}" r="13" fill="white" /> -->

		<circle ng-repeat="pathPos in $parent.nodes.path" ng-attr-cx="{{pathPos.point.x}}" ng-attr-cy="{{pathPos.point.y}}" r="4" fill="white" />

		<path ng-repeat="(i, group) in map.data.edges" ng-init="group.push(group[0]);" path="group" stroke="crimson" stroke-width="4" fill="none" />

		<path path="$parent.nodes.path" stroke="white" stroke-width="2" fill="none" />
	</svg>
</div>